# Ignorar tudo...
*

# Exceto estas pastas...

!bootstrap
!css
!fontawesome
!img

# E subpastas...

!bootstrap/*
!css/*
!fontawesome/*
!img/*

# E subsubpastas...

!bootstrap/*/*
!css/*/*
!fontawesome/*/*

# E subsubsubpastas..

!bootstrap/*/*/*
!css/*/*/*
!fontawesome/*/*/*

# E finalmente arquivos

!.gitignore
!index.html

